* {box-sizing: border-box;}
body {
  background-image: url(https://images.pexels.com/photos/1123262/pexels-photo-1123262.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  font-family: sans-serif;
  margin: 0;
  width: 100%;
}

header > h1, p {
  color: #f8f8f8;
  text-align: center; 
  text-shadow: 2px 2px black;
}

header > p {
  font-style: italic;
}

section {
  margin: 0 auto;
}

li{
  list-style: none; 
}

form {
  color: #f8f8f8;
  width: 80%;
  margin: 30px auto;
  background-color: #be7540;
  max-width: 800px;
  min-width:300px;
  padding-bottom: 20px;
}

fieldset {
  border: none;
  border-bottom: 2px solid lightgrey;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 15px 0;
  font-size: 22px;
}

li > label {
  list-style: none;
  font-size: 19px; 
  margin: -5px 0;
}

input, textarea {
  background-color: white;
  border: 1px solid grey;
  margin: 10px 0 0 0;
  width: 99%; 
  min-height: 33px;
}

select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 33px;
  background-color: white;
  border: 1px solid grey;
}

span {
  font-size: 14px;
}

input[type="radio"], input[type="checkbox"] {
  width: unset;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  border: 1px solid grey;
  width: 20vh;
  margin: 20px auto;
  height: 30px;
  font-size: 20px;
  color: #f8f8f8;
  text-shadow: 1px 1px black;
  background-color: #dfbea4;
  min-width: 300px;
}

.in-form {
  font-size: 22px;
  text-shadow: none;
  text-align: left;
  margin: 15px 0;
}

