
body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  min-width: 300px;
}

#navbar {
  width: 340px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;;
  margin: 0px auto;
  border-right: 1px solid rgb(102, 90, 103);
}

#navbar header h1 {
  display: block;
  text-align: center;
  border-bottom: 1px solid rgb(102, 90, 103);
  padding-bottom: 20px;
  margin-bottom: 0;;
}

.nav-title {
  margin: 0;
  padding: 0;

}

#navbar ul {
  margin: 0;
  padding: 0;
}

#navbar ul li {
  list-style: none;
  padding: 30px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid rgb(102, 90, 103);
  text-align: center;
}

#navbar ul li:hover {
  color:rgb(245, 233, 233);
  background-color: rgba(140, 75, 140, 0.3);
}

#navbar ul li:last-of-type {
  border-bottom: none;
}

#navbar ul li .nav-link {
  text-decoration: none;
  
}

a {
  text-decoration: none;
  color: rgb(140, 75, 140);
}

a.item-link:hover {
  color: rgb(246, 240, 240);
  background-color: rgb(140, 75, 140);
  border-radius: 5px;
}

#main-doc {
  display: block;
  position: absolute;
  margin: 30px 30px 30px 380px;
  padding: 0;
}

h2 {
  color: rgb(140, 75, 140);
  margin-bottom: 30px; 
}

.list {
  margin-left: 15px;
}

main section p, main section ol, main section ul {
  margin-left: 30px;
}

main section li {
  color:rgb(99, 86, 100);
}

iframe {
  margin-left: 40px;
}

img { 
  width: 350px;
  margin-left: 40px;;
}

img.room-acoustic-image {
  width: 560px;
}

.decription {
  color: rgb(51, 47, 47);
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


@media (max-width: 980px) {
    #navbar {
      position: relative;
      width: 100%;
      height: auto;
      border: none;
      margin: 0;
    }
    .nav-title {
      display: inline;
    }
    #navbar ul {
      height: 270px;
      overflow-y: auto;
      overflow-x: hidden;
      border: 2px solid rgb(140, 75, 140); 
      border-left: 0;
      border-right: 0;  
      margin-bottom: 0;
    }
    #navbar ul li {
      padding: 15px 0;
    }
    #main-doc {
      width: 100%;
      margin: 30px auto;
    }

    h2 {
      text-align: center;
    }
    iframe {
      width: 60vw;
      height: 30vh;
    }
    img.room-acoustic-image {
      width: 60vw;
    }
    img.cable-image {
      width: 60vw;
    }
}

@media (max-width: 670px) {
  .monitor-place-image, .foam-place-image {
    width: 230px;
    height: auto;
    margin-left: 20px;
  }
  .flex {
    display: block;
  }
} 





