* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  min-width: 390px;
}

h1 {
  font-size: 45px;
  margin: 45px 0 20px 0; 
  color: rgb(178, 137, 60);
}

h2 {
  font-size: 26px;
}

.project {
  text-align: center;
}

.project-link {
  width: 50%;
  padding: 0;
}
.project-link li {
  list-style: none;
  margin: 10px 0;
  width: 400px;
  background-color: rgb(178, 137, 60);
  padding: 10px 0;
}

.project-link li a {
  text-decoration: none;
  font-size: 20px;
  color: antiquewhite;
}

.project-link li a img {
  width: 60%;
  height: 300px;
}
.project-link li:hover {
  background-color: rgb(171, 161, 142);
}

@media (max-width: 550px) {
  h1 {
    font-size: 2.2rem;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 1.8rem;
  }
}





